/* CartSection.css */

.cart-section {
    margin: 20px;
  }
  
  .category-container {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
  }
  
  .category {
    position: relative;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 14%;
    height: 50px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .category:hover{
    background: aqua;
    color: black;
    transition: 0.3s ease-in;
    transition: 0.3s ease-out;
  }
  .category img{
    width: 50px;
    height: 50px;
    mix-blend-mode:color;
    border-radius: 50%;
  }
  
  .sub-categories {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: none;
  }
  
  .category:hover .sub-categories {
    display: block;
    margin-top: -5px;
  }
  
  .sub-categories ul {
    list-style: none;
    padding: 0;
  }
  
  .sub-categories li {
    margin: 5px 0;
    cursor: pointer;
  }
  
  .sub-categories li:hover {
    color: #007bff;
  }
  @media screen and (max-width: 768px) {
    .category {
      width: 100%;
    }
  }